.player__audio {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 40px; */
  background-color: rgba(0, 0, 0, 0.363);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}
.player__audio img {
  display: none;
}
.player__audio > div {
  max-width: 100vw !important;
  width: 100% !important;
}
.player__audio wave {
  height: 60px !important;
}
.player__audio > div div:nth-child(2) {
  flex-direction: row-reverse !important;
}
.player__audio > div div:nth-child(2) > div {
  margin-left: 0 !important;
}
.player__audio > div div:nth-child(2) > div:nth-child(1) {
  flex: 1;
}
.player__audio > div div:nth-child(2) > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 20px;
  column-gap: 20px;
}
.player__audio > div div:nth-child(2) > div span,
.player__audio > div div:nth-child(2) > div svg {
  margin: 0px !important;
}
@media(max-width: 575px) {
  .player__audio > div div:nth-child(2) > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    column-gap: 12px;
  }
}